<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>所有</string>
	<string>婚恋</string>
	<string>亲子</string>
	<string>职场</string>
	<string>健康</string>
	<string>科普</string>
</array>
</plist>
